.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 0.5rem;
  margin-bottom: 1rem;
}

.row {
  display: contents;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.operation {
  background-color: #ff9900;
  color: white;
}

.equals {
  background-color: #007bff;
  color: white;
  grid-column: span 2;
}
